@charset "UTF-8";
@import "../fonts/@font-face.min.css";
:root {
    --background: #202020;
    --active: rgb(111, 111, 111);
    --a-p-art: #e3e3e3
}

* {
    font-family: "Poppins", sans-serif;
    color: var(--a-p-art)
}

body,
header,
main,
div,
footer,
li {
    display: flex
}

main,
div {
    flex: 1
}

body,
main,
.container,
ul {
    display: flex;
    flex-direction: column
}

header,
footer {
    flex-direction: row;
    align-items: center
}

body {
    min-height: 100vh;
    background-color: rgba(224, 224, 224, 0.133);
    background-color: var(--background)
}

footer {
    justify-content: center;
    align-items: center;
    height: 3vh
}

footer>small {
    color: #393939;
    margin: 0;
    padding: 0 .9rem 0 0
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

a,
p,
article {
    color: var(--a-p-art)
}

header {
    justify-content: flex-end;
    box-shadow: 0 10px 86px 0 rgba(0, 0, 0, 0.72);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

header>a>img.tama {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1.3rem
}

ul[role="navigation"] {
    flex-direction: row;
}

ul[role="navigation"] li {
    align-items: center;
    margin-right: 1.2rem;
    font-weight: 500
}

ul[role="navigation"] a {
    letter-spacing: .025rem;
    font-size: 0.93rem;
    font-weight: 400;
    font-family: "Poppins";
    color: #fff;
    text-decoration: none;
}

ul[role="navigation"] a.active{
    border-bottom: solid 1px rgb(149, 149, 149);  
}

article.shot {
    flex-direction: row
}

.shot>span {
    flex-direction: column
}

main {
    display: grid;
    place-items: center;
    margin-top: 6.3rem
}

main ul {
    padding: 0;
    margin: 0
}

.articles-list ul li {
    margin-top: 2vh
}

.shot {
    display: flex;
    max-width: 44vw;
    justify-content: center;
    align-items: center
}

.shot h2 {
    letter-spacing: 0.025rem;
    margin-bottom: .4rem;
    font-size: 1.2rem;
    font-weight: 700
}

.shot h4 {
    margin-top: .3rem;
    font-weight: 400
}

.short-desc {
    font-family: 'PT Serif';
    font-size: 1.2rem
}

.shot img {
    max-height: 11vh;
    width: auto
}